@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: "Lato", sans-serif;
}
nav {
  background-color: black;
  color: white;
  padding: 0px 20px;
}
.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  display: flex;
  align-items: center;
  background-color: darkgray;
  padding: 3px 6px;
  border-radius: 5px;
}
.searchInput {
  border: none;
  background-color: transparent;
}
.searchInput::placeholder {
  color: black;
}
.limittedoffer {
  font-size: 25px;
  border-bottom: 2.5px solid green;
  cursor: pointer;
}
.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuItem {
  margin-right: 30px;
  cursor: pointer;
  color: rgb(102, 104, 103);
}
.slider {
  background-image: url("assets/backgraound.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}
.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1s ease-in-out;
}
.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sliderImg {
  z-index: 1;
}
.sliderBg {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  position: absolute;
}
.sliderTitle {
  position: absolute;
  top: 2%;
  right: 8%;
  bottom: 10%;
  font-size: 100px;
  font-weight: 1000;
  text-align: center;
  z-index: 1;
}
.sliderPrice {
  position: absolute;
  top: 14%;
  left: 12%;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  border: 1px solid gray;
  z-index: 1;
}
.buyButton {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  border: 1px solid gray;
  background-color: black;
  color: white;
  z-index: 1;
  cursor: pointer;
}
.buyButton:hover {
  background-color: white;
  color: black;
}
.sliderItem:nth-child(1) .sliderBg {
  background-color: rgb(42, 117, 164);
}
.sliderItem:nth-child(2) .sliderBg {
  background-color: aqua;
}
.sliderItem:nth-child(3) .sliderBg {
  background-color: greenyellow;
}
.sliderItem:nth-child(4) .sliderBg {
  background-color: lime;
}
.sliderItem:nth-child(5) .sliderBg {
  background-color: blue;
}

.sliderItem:nth-child(1) .sliderPrice {
  color: rgb(42, 117, 164);
}
.sliderItem:nth-child(2) .sliderPrice {
  color: aqua;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: greenyellow;
}
.sliderItem:nth-child(4) .sliderPrice {
  color: lime;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: blue;
}

.features {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 50px;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.featureIcon {
  width: 50%;
  height: 50%;
}
.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 15px;
}
.featuredDesc {
  color: darkgray;
  width: 60%;
  height: 100px;
}

.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}
.payment {
  width: 500px;
  height: 500px;
  background-color: rgb(251, 251, 251);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  -webkit-box-shadow: -27px 0px 300px -70px rgba(120, 98, 98, 1);
  -moz-box-shadow: -27px 0px 300px -70px rgba(120, 98, 98, 1);
  box-shadow: -27px 0px 300px -70px rgba(120, 98, 98, 1);
}
.payTatle {
  font-size: 40px;
  font-weight: 900;
}
label {
  font-size: 15px;
  font-weight: 300;
}
.payInput {
  font-size: 18px;
  padding: 10px;
  margin: 11px 0px;
  border: none;
  border-bottom: 2px solid darkgray;
  background-color: transparent;
  color: black;
}
.payInput_card {
  font-size: 18px;
  padding: 0px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid darkgray;
  background-color: transparent;
  color: black;
}
.payButton {
  position: absolute;
  height: 40px;
  bottom: -40px;
  width: 100%;
  left: 0;
  -webkit-box-shadow: -27px 0px 300px -70px rgba(120, 98, 98, 1);
  -moz-box-shadow: -27px 0px 300px -70px rgba(120, 98, 98, 1);
  box-shadow: -27px 0px 300px -70px rgba(120, 98, 98, 1);
  font-size: 20px;
  font-weight: 800;
  background-color: black;
  color: red;
  cursor: pointer;
}
.payButton:hover {
  background-color: green;
  color: black;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(209, 209, 209);
  color: red;
  margin: 10px;
  padding: 4px 4px;
  font-size: larger;
  font-weight: 500;
  border: none;
}
.close:hover {
  background-color: red;
  color: rgb(27, 27, 27);
}
.cardIcon {
  display: flex;
}
.cardIcons {
  margin-right: 5px;
}
.cardInfo {
  display: flex;
  justify-content: space-between;
}
.payInput_card {
  width: 30%;
}
.productImg {
  width: 40%;
  position: absolute;
  top: 15%;
  left: 10%;
}
.productDetails {
  position: absolute;
  top: 0%;
  right: 10%;
  width: 30%;
  padding: 5%;
}
.productTitle {
  font-size: 100px;
  font-weight: 900;
}
.productPrice {
  font-size: 40px;
}
.productDesc {
  font-size: 18px;
  color: gray;
}
.sizes {
  display: flex;
  margin-bottom: 15px;
}
.size {
  padding: 5px 15px;
  border: 1px solid black;
  margin-right: 6px;
  cursor: pointer;
  font-size: 20px;
}
.productButton {
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
}
.productButton:hover {
  background-color: green;
  color: black;
}
